{% extends 'base.html' %}

{% block content %}

<section class="cart-section">

    <div class="section-title">
        <h1>Your Cart 🛒</h1>
        <p>Your selected delicious food</p>
    </div>


    {% for item in items %}

    <div class="cart-card">

        <img src="{{ item.item.image.url }}" alt="{{ item.item.name }}">


        <div class="cart-info">

            <h2>{{ item.item.name }}</h2>

            <p>
                Price: ₹{{ item.item.price }}
            </p>


            <div class="quantity">

                <a href="{% url 'decrease' item.id %}">
                    -
                </a>

                <span>
                    {{ item.quantity }}
                </span>

                <a href="{% url 'increase' item.id %}">
                    +
                </a>

            </div>


            <p>
                Total: ₹{{ item.total_price }}
            </p>


            <a href="{% url 'remove' item.id %}" class="remove-btn">
                Remove
            </a>


        </div>

    </div>


    {% empty %}

    <h2 class="empty-cart">
        Your cart is empty
    </h2>


    {% endfor %}


    <h2 class="cart-total">
        Grand Total: ₹{{ total }}
    </h2>

   {% if items %}
    <a href="{% url 'checkout' %}" class="checkout-btn">
    Proceed to Checkout</a>
{% endif %}

</section>

{% endblock %}