<nav class="navbar">
    <div class="container">

        <!-- Logo -->
        <a href="/" class="logo">
            Urban<span>Bites</span>
        </a>

        <!-- Navigation Links -->
        <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'reservation' %}">Reservation</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        </ul>

        <!-- Buttons -->
        <div class="nav-buttons">
            <a href="{% url 'login' %}" class="login-btn">Login</a>
            <a href="{% url 'register' %}" class="register-btn">Register</a>
        </div>

    </div>
</nav>