{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="menu-title">
    <h1>Our Menu</h1>
    <p>Explore our delicious dishes</p>
</div>

<div class="food-container">

    {% for item in items %}

    <div class="food-card">

        {% if item.image %}
            <img src="{% static item.image %}" alt="{{ item.name }}">
        {% else %}
            <img src="{% static 'images/menu/pizza.png' %}" alt="{{ item.name }}">
        {% endif %}

        <h2>{{ item.name }}</h2>

        <p>{{ item.description }}</p>

        <h3>₹{{ item.price }}</h3>

        <a href="{% url 'add_to_cart' item.id %}" class="order-btn">Order Now</a>

    </div>

    {% empty %}

    <h2>No menu items available</h2>

    {% endfor %}

</div>

{% endblock %}